body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#stopwatch {
  text-align: center;
}

#time {
  font-size: 2em;
  margin-bottom: 20px;
}
